<!DOCTYPE html>

<html>
  <head>
    <!-- Favicon -->
    <!--link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"-->

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type = "text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type = "text/javascript"  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>BetterData</title>
  </head>
    <body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
      <a class="navbar-brand logo" href="https://www.betterdata.ai/">betterdata</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.betterdata.ai/company/contact-us">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/@betterdata">Blog</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content">
      <h3>DATA</h3>
      <hr>
    <div id="data-table" class="container data">
    <table id="proxies" class="display nowrap" style="width: 100%;">
        <thead id="table_head">
          <tr contenteditable="true">
            {% for header in result[0].keys() %}
              <th contenteditable="true">{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in result %}
            <tr>
              <td contenteditable="true">{{ row['CLIENTNUM'] }}</td>
              <td contenteditable="true">{{ row['Attrition_Flag'] }}</td>
              <td contenteditable="true">{{ row['Customer_Age'] }}</td>
              <td contenteditable="true">{{ row['Gender'] }}</td>
              <td contenteditable="true">{{ row['Dependent_count'] }}</td>
              <td contenteditable="true">{{ row['Education_Level'] }}</td>
              <td contenteditable="true">{{ row['Marital_Status'] }}</td>
              <td contenteditable="true">{{ row['Income_Category'] }}</td>
              <td contenteditable="true">{{ row['Card_Category'] }}</td>
              <td contenteditable="true">{{ row['Months_on_book'] }}</td>
              <td contenteditable="true">{{ row['Total_Relationship_Count'] }}</td>
              <td contenteditable="true">{{ row['Months_Inactive_12_mon'] }}</td>
              <td contenteditable="true">{{ row['Contacts_Count_12_mon'] }}</td>
              <td contenteditable="true">{{ row['Credit_Limit'] }}</td>
              <td contenteditable="true">{{ row['Total_Revolving_Bal'] }}</td>
              <td contenteditable="true">{{ row['Avg_Open_To_Buy'] }}</td>
              <td contenteditable="true">{{ row['Total_Amt_Chng_Q4_Q1'] }}</td>
              <td contenteditable="true">{{ row['Total_Trans_Amt'] }}</td>
              <td contenteditable="true">{{ row['Total_Trans_Ct'] }}</td>
              <td contenteditable="true">{{ row['Total_Ct_Chng_Q4_Q1'] }}</td>
              <td contenteditable="true">{{ row['Avg_Utilization_Ratio'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
      <div class="action">
        <div class="control">
          <div class="row no-gutters">
            <div class="col no-gutters">
              <button type="button" class="btn" onclick="editData()">Edit Data</button>
            </div>         
            <div class="col no-gutters">
              <button type="button" class="btn" onclick="deleteData()">Delete Data</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  <footer>
    <a class="navbar-brand logo" href="https://www.betterdata.ai/" style="color: #635bff;">betterdata</a>
    <a href="https://www.facebook.com/betterdataai"><i class="fa-brands fa-facebook fa-xl"></i></a>
    <a href="https://twitter.com/betterdataai"><i class="fa-brands fa-twitter fa-xl"></i></a>
    <a href="https://www.linkedin.com/company/betterdataai/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
    <a href="https://www.youtube.com/watch?v=Vsm0Q9YjsvA&t=1s"><i class="fa-brands fa-youtube fa-xl"></i></a>
    <p>All Rights Reserved</p>
</footer>
</html>
<script type="text/javascript">
$(document).ready(function() {
    $('#proxies').DataTable( {
        "scrollX": true,
        select: true
    } );
} );

function deleteData(){
  var Table = document.getElementById("data-table");
  Table.innerHTML = "";
}

function editData(){

    const table_head = document.getElementById('table_head');
    table_head.innerHTML =  'Hey'

}

</script>
